.a-propos {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 30px;

  .collapses {
    margin-top: 10px;

    .collapse-title {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

// Media query pour les appareils mobiles
 @media (max-width: 380px) { 
  .a-propos {
    margin-top: 10px;
    margin-bottom: 15px;
    .collapses {
      .collapse-title {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }
}