.tags-logement {
    display: flex;
    flex-direction: row;
    gap: 15px;

    button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: #ff6161;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        border: none;
    }
    
}